/* Inicio página Home */

body {
	margin: 0px 0px 0px 0px;
	background-color: rgba(241, 240, 232);
}

.contenedorHeaderFlex {
	display: flex;
	padding: 0.6em;
	padding-bottom: 0em;
	justify-content: space-between;
	background-color: #717beb; /* Han blue #4467C4  #5d69ee  #515BD4  #3d88ee*/
	align-content: center;
	max-width: 100%;
	height: auto;
	opacity: 0.9;
}

.logoMexicano {
	width: 200.43px;
	height: 60.74px;
}

.grupoUno {
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: initial;
	margin-top: 0%;
	margin-bottom: 0.4%;
	margin-left: 0.8%;
	min-width: 13em;
}

.grupoDos {
	display: flex;
	align-items: center;
	letter-spacing: 30px;
}

.fab {
	color: whitesmoke;
}

/* .fab:hover {
	opacity: 1;
	color: #ffc530;
} */

#iconoInstagram:hover {
	opacity: 1;
	color: #f62e29 /*#ffea7f*/;
}

#iconoFacebook:hover {
	opacity: 1;
	color: #efce16 /* #83c3ff*/;
}

#iconoWhatsApp:hover {
	opacity: 1;
	color: #89e077;
}

.contenedorHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 600px;
	contain: content;
	background: url(../img/fondoPrueba.jpg) no-repeat content-box;
	background-position: center;
	background-size: 100%;
	filter: contrast(50%);
}

/* .tituloHome {
  position: absolute;
  width: 50%;
  margin-bottom: 200px;
  height: 3em;
  padding: 0.6em;
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 5px;
  color: rgb(255, 4, 4);
  background-color: RGB(192, 236, 204);
  
} */

.contenedorMapaDelSitio {
	display: grid;
	width: 100%;
	background-color: #f9f9f9;
}

.frase {
	box-sizing: border-box;
	max-width: 85%;
	margin-top: 40px;
	margin-left: 8.7%;
	margin-right: 8.7%;
	text-align: center;
	font-family: "Marck Script", cursive;
	letter-spacing: 1.4px;
	grid-row: 1/2;
}

.contenedorColumnas {
	display: grid;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 85px;
	margin-bottom: 65px;
	box-sizing: border-box;
}

.contenedorBotones {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 328px;
	height: 400px;
}

#contenedorBotonMenu {
	grid-row: 1/2;
	grid-column: 1/2;
	border: solid 3px #f62e29;
}

#contenedorBotonReserva {
	grid-row: 1/2;
	grid-column: 2/3;
	border: solid 3px #efce16;
	padding: 0;
}

#contenedorBotonTakeAway {
	grid-row: 1/2;
	grid-column: 3/4;
	border: solid 3px #89e077;
}

.columna {
	width: 300px;
	height: 200px;
	box-sizing: border-box;
	contain: content;
	border-radius: 1%;
	opacity: 0.8;
}

#columnaUno {
	background-image: url(../img/menu.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#columnaDos {
	background-image: url(../img/reserva.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#columnaTres {
	background-image: url(../img/takeAway.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.textoColumna {
	color: rgb(45, 45, 45);
	text-align: center;
	letter-spacing: 2px;
	font-weight: 1500;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.8em;
}

.descripcionColumna {
	max-width: 300px;
	font-style: italic;
	font-family: "Cormorant Garamond", serif;
	text-align: center;
	letter-spacing: 1px;
	margin-top: -10px;
}

.txtMapaDelSitio {
	width: 70%;
	justify-self: center;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.5em;
}

.txtMapaDelSitio::first-line {
	font-size: 1.6em;
}

.txtNumeros {
	font-family: "Times New Roman", Times, serif;
	font-size: 0.8em;
}

.mapaDelSitio {
	width: 90%;
	justify-self: center;
}

.contenedorFooterFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0px 6em;
	width: 100%;
	height: 150px;
	margin-top: 50px;
	background-color: #717beb;
}

.fab {
	text-decoration: none;
	letter-spacing: 30px;
	font-size: 1.4em;
}

.logoMexicanoFooter {
	/*border: solid black 10px;*/
	width: 264px;
	height: 92px;
}

/* Efectos página home */

.columna:hover {
	box-shadow: 0px 5px 5px gray;
	margin-top: -2px;
	opacity: 1;
}

.fa-instagram:hover {
	color: #f62e29;
}

.fa-facebook-f:hover {
	color: #efce16;
}

.fa-whatsapp:hover {
	color: #89e077;
}

@media screen and (max-width: 1100px) {
	.contenedorHeader {
		background-position: top;
	}
	.contenedorColumnas {
		width: 100%;
	}

	.contenedorBotones {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 300px;
		height: 400px;
	}
	.columna {
		width: 220px;
		height: 140px;
	}
}

@media screen and (max-width: 1000px) {
	.contenedorBotones {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 220px;
		height: 400px;
	}
	.columna {
		width: 180px;
		height: 140px;
	}

	.descripcionColumna {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 700px) {
	.contenedorHeaderFlex {
		flex-direction: row;
		padding: 0em;
		padding-bottom: 0em;
		align-items: center;
	}
	.grupoUno {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		min-width: 13em;
	}
	.grupoDos {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-style: normal;
	}
	/*  .tituloHome {
        padding: 0em 0em 0em 0.6em;
        margin: 0.4em 0em 0em 0em;
        margin-bottom: 12.5em;
        font-size: 1em;
	} */
	.frase {
		margin-top: -120px;
		margin-bottom: 100px;
	}
	.contenedorColumnas {
		width: 80%;
		justify-content: space-around;
		grid-row-gap: 40px;
		margin-top: -50px;
	}
	.columna {
		width: 200px;
		height: 120px;
	}
	.contenedorBotones {
		width: 240px;
		height: 350px;
	}
	#contenedorBotonMenu {
		grid-row: 1/2;
		grid-column: 2/3;
	}
	#contenedorBotonReserva {
		grid-row: 2/3;
		grid-column: 2/3;
	}
	#contenedorBotonTakeAway {
		grid-row: 3/4;
		grid-column: 2/3;
	}
	.descripcionColumna {
		font-size: 0.9em;
		max-width: 200px;
	}

	.txtMapaDelSitio {
		font-size: 1em;
	}

	.txtMapaDelSitio::first-line {
		font-size: 1.5em;
	}

	.mapaDelSitio {
		width: 100%;
	}
	.txtMapaDelSitio {
		width: 100%;
	}
	.contenedorGrid {
		width: 90%;
		grid-row-gap: 20px;
	}
	.listaUno {
		font-size: 0.9em;
	}
	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
	}

	.contenedorFooterFlex {
		flex-direction: column;
		height: auto;
		padding: 1em 1em;
		align-items: center;
		justify-content: center;
	}

	.contenedorRedes {
		margin-top: 45px;
		margin-left: 60px;
	}

	/* Efectos pagina home */
	.columna:hover {
		margin-top: 1px;
	}
}

@media screen and (max-width: 420px) {
	.logoMexicano {
		width: 180.38px;
		height: 54.66px;
		margin-top: 3px;
	}
	.frase {
		margin-top: -250px;
		margin-bottom: 150px;
	}

	.contenedorColumnas {
		width: 90%;
	}

	.columna {
		width: 220px;
		height: 120px;
	}

	.txtMapaDelSitio {
		font-size: 0.9em;
	}

	.txtMapaDelSitio::first-line {
		font-size: 1.4em;
	}

	#icono {
		font-size: 1em;
		letter-spacing: 14px;
	}
}

@media screen and (max-width: 375px) and (min-width: 360px) {
	.logoMexicano {
		width: 162.34px;
		height: 49.19px;
		margin-top: 3px;
	}

	.grupoUno {
		font-size: 0.8em;
	}

	.grupoDos {
		letter-spacing: 15px;
	}
	.contenedorGrid {
		margin: auto;
		width: 90%;
		grid-row-gap: 15px;
		justify-content: center;
	}

	.frase {
		margin-top: -330px;
		margin-bottom: 200px;
	}

	.contenedorColumnas {
		width: 95%;
		justify-content: space-around;
		grid-row-gap: 40px;
		margin-top: -160px;
	}
	.descripcionColumna {
		font-size: 0.8em;
		max-width: 200px;
	}
	.listaUno {
		font-size: 0.6em;
	}
	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
		text-align: center;
	}

	.txtMapaDelSitio {
		font-size: 0.8em;
	}

	.txtMapaDelSitio::first-line {
		font-size: 1.3em;
	}

	.txtNumeros {
		font-size: 0.5;
	}

	.contenedorFooterFlex {
		padding: 2em 2em;
	}

	/* .contenedorFooterFlex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding: 0px 6em;
		width: 100%;
		height: 150px;
		margin-top: 50px;
		background-color: #717beb;
	} */
}

@media screen and (max-width: 320px) {
	.logoMexicano {
		width: 146.11px;
		height: 44.27px;
		margin-top: 3px;
	}

	.frase {
		margin-top: -330px;
		margin-bottom: 100px;
	}
	.grupoUno {
		font-size: 0.6em;
	}

	.grupoDos {
		letter-spacing: 8px;
		font-size: 0.6em;
	}
	.contenedorGrid {
		margin: auto;
		width: 100%;
		grid-row-gap: 15px;
		justify-content: center;
	}

	.contenedorBotones {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 240px;
		height: 350px;
	}
}

/* Fin página Home */
