/* Inicio página Home */

body {
	margin: 0px 0px 0px 0px;
	background-color: rgba(241, 240, 232);
}

.contenedorHeaderFlex {
	display: flex;
	padding: 0.6em;
	padding-bottom: 0em;
	justify-content: space-between;
	background-color: #4467c4; /* Han blue #4467C4   #515BD4  #3d88ee*/
	align-content: center;
	max-width: 100%;
	height: auto;
	opacity: 0.9;
}

.grupoUno {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 13em;
	letter-spacing: 2px;
	color: whitesmoke;
	font-style: italic;
}

.logoMexicano {
	width: 3em;
	height: 3em;
	margin-bottom: 1em;
	/* padding: 0em 0em 0em 1em; */
}

.fondoLogo {
	width: 2.9em;
	height: 3em;
	padding: center;
	border-radius: 50%;
	padding-right: 1mm;
	margin-bottom: 0.5em;
	margin-top: 0.4em;
	background-color: #f9f9f9;
}

.grupoDos {
	display: flex;
	align-items: center;
	letter-spacing: 30px;
}

.fab {
	color: whitesmoke;
}

/* .fab:hover {
	opacity: 1;
	color: #ffc530;
} */

#iconoInstagram:hover {
	opacity: 1;
	color: #f62e29 /*#ffea7f*/;
}

#iconoFacebook:hover {
	opacity: 1;
	color: #efce16 /* #83c3ff*/;
}

#iconoWhatsApp:hover {
	opacity: 1;
	color: #89e077;
}

.contenedorHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 600px;
	contain: content;
	background: url(../img/fondoPrueba.jpg) no-repeat content-box;
	background-position: center;
	background-size: 100%;
	filter: contrast(50%);
}

/* .tituloHome {
  position: absolute;
  width: 50%;
  margin-bottom: 200px;
  height: 3em;
  padding: 0.6em;
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 5px;
  color: rgb(255, 4, 4);
  background-color: RGB(192, 236, 204);
  
} */

.contenedorMapaDelSitio {
	display: grid;
	width: 100%;
	background-color: #f9f9f9;
}

.frase {
	box-sizing: border-box;
	max-width: 85%;
	margin-top: 40px;
	margin-left: 8.7%;
	margin-right: 8.7%;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 1.5px;
	grid-row: 1/2;
}

.contenedorColumnas {
	display: grid;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 85px;
	margin-bottom: 65px;
}

.contenedorBotones {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 350px;
	height: 400px;
}

#contenedorBotonMenu {
	grid-row: 1/2;
	grid-column: 1/2;
	border: solid 3px #f62e29;
}

#contenedorBotonReserva {
	grid-row: 1/2;
	grid-column: 2/3;
	border: solid 3px #efce16;
}

#contenedorBotonTakeAway {
	grid-row: 1/2;
	grid-column: 3/4;
	border: solid 3px #89e077;
}

.columna {
	width: 300px;
	height: 200px;
	box-sizing: border-box;
	contain: content;
	border-radius: 1%;
	opacity: 0.8;
}

#columnaUno {
	background-image: url(../img/menu.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#columnaDos {
	background-image: url(../img/reserva.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#columnaTres {
	background-image: url(../img/takeAway.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.textoColumna {
	color: rgb(45, 45, 45);
	text-align: center;
	letter-spacing: 2px;
	font-weight: 700;
	font-family: sans-serif;
	font-size: 1.1em;
}

.descripcionColumna {
	max-width: 300px;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin-top: 10px;
}

.txtMapaDelSitio {
	width: 70%;
	justify-self: center;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.mapaDelSitio {
	width: 90%;
	justify-self: center;
}

.contenedorFooterFlex {
	display: flex;
	width: 100%;
	height: auto;
	font-family: "Zilla Slab", serif;
	font-weight: 600;
	margin-top: 50px;
	justify-content: space-between;
	align-items: space-around;
	background-color: #295990; /*#438cc1  #266EF6 3081c3*/
}

.fondoLogoFooter {
	width: 5.2em;
	height: 2.8em;
	margin-top: 15px;
	border-radius: 50%;
	padding: 0em 0.1em 3em 0.2em;
	background-color: #f9f9f9;
}

.elementosFooter {
	margin: 0em 3em 0em 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.direccionFooter {
	text-align-last: initial;
}
.botonContactanos {
	display: inline-block;
	align-self: flex-end;
	padding: 0.4em 1em;
	margin: 4em 0.5em 0em 0em;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Zilla Slab", serif;
	font-weight: 400;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: white;
	background-color: #ffc530;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.2s;
}

/* Efectos página home */

.columna:hover {
	box-shadow: 0px 5px 5px gray;
	margin-top: -2px;
	opacity: 1;
}

@media screen and (max-width: 1024px) {
	.contenedorHeader {
		background-position: top;
	}
	.contenedorColumnas {
		width: 100%;
	}
	.columna {
		width: 200px;
		height: 133px;
	}
}

@media screen and (max-width: 650px) {
	.contenedorHeaderFlex {
		flex-direction: row;
		padding: 0em;
		padding-bottom: 0em;
		align-items: center;
	}
	.grupoUno {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		min-width: 13em;
	}
	.grupoDos {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-style: normal;
	}
	/*  .tituloHome {
        padding: 0em 0em 0em 0.6em;
        margin: 0.4em 0em 0em 0em;
        margin-bottom: 12.5em;
        font-size: 1em;
	} */
	.frase {
		margin-top: -160px;
		margin-bottom: 100px;
	}
	.contenedorColumnas {
		width: 90%;
		justify-content: space-around;
		grid-row-gap: 40px;
		margin-top: -50px;
	}
	.columna {
		width: 200px;
		height: 120px;
	}
	.contenedorBotones {
		width: 300px;
		height: 350px;
	}
	#contenedorBotonMenu {
		grid-row: 1/2;
		grid-column: 2/3;
	}
	#contenedorBotonReserva {
		grid-row: 2/3;
		grid-column: 2/3;
	}
	#contenedorBotonTakeAway {
		grid-row: 3/4;
		grid-column: 2/3;
	}
	.descripcionColumna {
		font-size: 0.9em;
		max-width: 200px;
	}
	.mapaDelSitio {
		width: 100%;
	}
	.txtMapaDelSitio {
		width: 100%;
	}
	.contenedorGrid {
		width: 90%;
		grid-row-gap: 20px;
	}
	.listaUno {
		font-size: 0.9em;
	}
	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
	}
	/* Efectos pagina home */
	.columna:hover {
		margin-top: 1px;
	}
}

@media screen and (max-width: 420px) {
	.frase {
		margin-top: -250px;
		margin-bottom: 150px;
	}
}

@media screen and (max-width: 360px) {
	.contenedorGrid {
		margin: auto;
		width: 90%;
		grid-row-gap: 15px;
		justify-content: center;
	}

	.frase {
		margin-top: -330px;
		margin-bottom: 200px;
	}

	.contenedorColumnas {
		width: 90%;
		justify-content: space-around;
		grid-row-gap: 40px;
		margin-top: -160px;
	}
	.descripcionColumna {
		font-size: 0.8em;
		max-width: 200px;
	}
	.listaUno {
		font-size: 0.6em;
	}
	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
		text-align: center;
	}
}

/* Fin página Home */
