/* Inicio página Home */

body {
	margin: 0px 0px 0px 0px;
	background-color: rgba(241, 240, 232);
}

.contenedorHeaderFlex {
	display: flex;
	padding: 0.6em;
	padding-bottom: 0em;
	justify-content: space-between;
	background-color: #717beb; /* Han blue #4467C4  #5d69ee  #515BD4  #3d88ee*/
	align-content: center;
	max-width: 100%;
	height: auto;
	opacity: 0.9;
}

.grupoUno {
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: initial;
	min-width: 13em;
}




.grupoDos {
	display: flex;
	align-items: center;
	letter-spacing: 30px;
}

.fab {
	color: whitesmoke;
}

/* .fab:hover {
	opacity: 1;
	color: #ffc530;
} */

#iconoInstagram:hover {
	opacity: 1;
	color: #f62e29 /*#ffea7f*/;
}

#iconoFacebook:hover {
	opacity: 1;
	color: #efce16 /* #83c3ff*/;
}

#iconoWhatsApp:hover {
	opacity: 1;
	color: #89e077;
}

.contenedorHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 600px;
	contain: content;
	background: url(../img/fondoPrueba.jpg) no-repeat content-box;
	background-position: center;
	background-size: 100%;
	filter: contrast(50%);
}

/* .tituloHome {
  position: absolute;
  width: 50%;
  margin-bottom: 200px;
  height: 3em;
  padding: 0.6em;
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 5px;
  color: rgb(255, 4, 4);
  background-color: RGB(192, 236, 204);
  
} */

.contenedorMapaDelSitio {
	display: grid;
	width: 100%;
	background-color: #f9f9f9;
}

.frase {
	box-sizing: border-box;
	max-width: 85%;
	margin-top: 40px;
	margin-left: 8.7%;
	margin-right: 8.7%;
	text-align: center;
	font-family: "Marck Script", cursive;
	letter-spacing: 1.4px;
	grid-row: 1/2;
}

.contenedorColumnas {
	display: grid;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 85px;
	margin-bottom: 65px;
}

.contenedorBotones {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 350px;
	height: 400px;

}

#contenedorBotonMenu {
	grid-row: 1/2;
	grid-column: 1/2;
	border: solid 3px #f62e29;
	
}

#contenedorBotonReserva {
	grid-row: 1/2;
	grid-column: 2/3;
	border: solid 3px #efce16;
	padding: 0;
}

#contenedorBotonTakeAway {
	grid-row: 1/2;
	grid-column: 3/4;
	border: solid 3px #89e077;
	
}

.columna {
	width: 300px;
	height: 200px;
	box-sizing: border-box;
	contain: content;
	border-radius: 1%;
	opacity: 0.8;
}

#columnaUno {
	background-image: url(../img/menu.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#columnaDos {
	background-image: url(../img/reserva.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#columnaTres {
	background-image: url(../img/takeAway.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.textoColumna {
	color: rgb(45, 45, 45);
	text-align: center;
	letter-spacing: 2px;
	font-weight: 1500;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.8em;
}

.descripcionColumna {
	max-width: 300px;
	font-style: italic;
	font-family: "Cormorant Garamond", serif;
	text-align: center;
	letter-spacing: 1px;
	margin-top: -10px;
}

.txtMapaDelSitio {
	width: 70%;
	justify-self: center;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.5em;
}

.txtMapaDelSitio::first-line {
	font-size: 1.6em;
}

.txtNumeros {
	font-family: "Times New Roman", Times, serif;
	font-size: 0.8em;
}

.mapaDelSitio {
	width: 90%;
	justify-self: center;
}

.contenedorFooterFlex {
	display: flex;
	width: 100%;
	height: auto;
	font-family: "Zilla Slab", serif;
	font-weight: 600;
	margin-top: 50px;
	justify-content: space-between;
	align-items: space-around;
	letter-spacing: 1px;
	background-color: #717beb; /*#438cc1  #266EF6 3081c3*/
}

.contenedorLogo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 22px;
	align-items: center;
}



.elementosFooter {
	margin: 0em 3em 0em 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.direccionFooter {
	text-align-last: initial;
}
.botonContactanos {
	display: inline-block;
	align-self: flex-end;
	padding: 0.4em 1em;
	margin: 3.3em 3em 0em 1.9em;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Zilla Slab", serif;
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 1px;
	color: white;
	background-color: #ffc530;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.2s;
}

/* Efectos página home */

.columna:hover {
	box-shadow: 0px 5px 5px gray;
	margin-top: -2px;
	opacity: 1;
}

@media screen and (max-width: 1100px)  {

	.contenedorHeader {
		background-position: top;
	}
	.contenedorColumnas {
		width: 100%;
	}

	.contenedorBotones {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 300px;
		height: 400px;
	}
	.columna {
		width: 220px;
		 height: 140px;
		
	}
}

@media screen and (max-width: 1000px) {

	.contenedorBotones {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 220px;
		height: 400px;
	}
	.columna {
		width: 180px;
		 height: 140px;
		
	}
	
	.descripcionColumna{

		font-size: 0.8em;
	}


}

@media screen and (max-width: 700px) {
	.contenedorHeaderFlex {
		flex-direction: row;
		padding: 0em;
		padding-bottom: 0em;
		align-items: center;
	}
	.grupoUno {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		min-width: 13em;
	}
	.grupoDos {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-style: normal;
	}
	/*  .tituloHome {
        padding: 0em 0em 0em 0.6em;
        margin: 0.4em 0em 0em 0em;
        margin-bottom: 12.5em;
        font-size: 1em;
	} */
	.frase {
		margin-top: -120px;
		margin-bottom: 100px;
	}
	.contenedorColumnas {
		width: 90%;
		justify-content: space-around;
		grid-row-gap: 40px;
		margin-top: -50px;
	}
	.columna {
		width: 200px;
		height: 120px;
	}
	.contenedorBotones {
		width: 300px;
		height: 350px;
	}
	#contenedorBotonMenu {
		grid-row: 1/2;
		grid-column: 2/3;
	}
	#contenedorBotonReserva {
		grid-row: 2/3;
		grid-column: 2/3;
	}
	#contenedorBotonTakeAway {
		grid-row: 3/4;
		grid-column: 2/3;
	}
	.descripcionColumna {
		font-size: 0.9em;
		max-width: 200px;
	}

	.txtMapaDelSitio {
		font-size: 1em;
	}

	.txtMapaDelSitio::first-line {
		font-size: 1.5em;
	}

	.mapaDelSitio {
		width: 100%;
	}
	.txtMapaDelSitio {
		width: 100%;
	}
	.contenedorGrid {
		width: 90%;
		grid-row-gap: 20px;
	}
	.listaUno {
		font-size: 0.9em;
	}
	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
	}

	.contenedorFooterFlex {
		font-size: 0.8em;
	}

	.logoMexicanoFooter {
		width: 65px;
		height: 70px;
	}

	.contenedorLogo {
		width: 200px;
	}

	/* Efectos pagina home */
	.columna:hover {
		margin-top: 1px;
	}
}

@media screen and (max-width: 420px) {
	.frase {
		margin-top: -250px;
		margin-bottom: 150px;
	}

	.contenedorColumnas {
		width: 90%;
	}

	.txtMapaDelSitio {
		font-size: 0.9em;
	}

	.txtMapaDelSitio::first-line {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 375px) and (min-width: 360px) {
	.grupoUno {
		font-size: 0.8em;
	}

	.grupoDos {
		letter-spacing: 15px;
	}
	.contenedorGrid {
		margin: auto;
		width: 90%;
		grid-row-gap: 15px;
		justify-content: center;
	}

	.frase {
		margin-top: -330px;
		margin-bottom: 200px;
	}

	.contenedorColumnas {
		width: 95%;
		justify-content: space-around;
		grid-row-gap: 40px;
		margin-top: -160px;
	}
	.descripcionColumna {
		font-size: 0.8em;
		max-width: 200px;
	}
	.listaUno {
		font-size: 0.6em;
	}
	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
		text-align: center;
	}

	.txtMapaDelSitio {
		font-size: 0.8em;
	}

	.txtMapaDelSitio::first-line {
		font-size: 1.3em;
	}

	.txtNumeros {
		font-size: 0.5;
	}

	.contenedorFooterFlex {
		font-size: 0.5em;
	}
	.contenedorFooterFlex {
		height: 95px;
	}

	.logoMexicanoFooter {
		margin-left: 3px;
		margin-bottom: 3px;
		width: 35px;
		height: 40px;
	}

	.fondoLogoFooter {
		padding: 0em 0em 2em 0em;
	}

	.botonContactanos {
		margin: 4em 2.7em 0em 1.9em;
	}

	.contenedorLogo {
		width: 140px;
	}

	.elementosFooter {
		margin: 0em 1em 0em 1em;
	}

	.botonContactanos {
		/* margin-top: 50px; */
	}

	}

	@media screen and (max-width: 320px) {

		.frase {
			margin-top: -330px;
			margin-bottom: 100px;
		}
		.grupoUno {
			font-size: 0.6em;
		}

		.grupoDos {
			letter-spacing: 8px;
			font-size: 0.6em;
		}
		.contenedorGrid {
			margin: auto;
			width: 100%;
			grid-row-gap: 15px;
			justify-content: center;
		}

		.contenedorBotones {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			width: 240px;
			height: 350px;
		}

		.contenedorFooterFlex {
			display: flex;
			/* flex-direction: column; */
			width: 100%;
			height: 150px;
			font-family: "Zilla Slab", serif;
			font-weight: 600;
			margin-top: 50px;
			justify-content: space-between;
			align-items: space-around;
			letter-spacing: 1px;
			background-color: #717beb; /*#438cc1  #266EF6 3081c3*/
		}
		
		.contenedorLogo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 250px;
		}

		.contenedorFooterFlex {
			font-size: 0.5em;
		}
		.contenedorFooterFlex {
			height: 100px;
		}
	
		.logoMexicanoFooter {
			margin-left: 3px;
			width: 28px;
			height: 35px;
		}
	
		.fondoLogoFooter {
			width: 4.2em;
			height: 2.4em;
			padding: 0em 0em 2em 0em;
		}
	
		.botonContactanos {
			margin: 3.5em 2.5em 0em 1.9em;
		}
	
		.contenedorLogo {
			width: 125px;
		}
	}
}

/* Fin página Home */
