* {
    padding: 0px;
    margin: 0px;
}

.menu {
    position: relative;
}

.contenedor_botones {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
}

.boton_menu {
    border-radius: 10%;
    border: 1px solid;
    border-color: black;
}

#entrada {
    background-color: #FFC530;
    grid-column-start: 1;
}

.texto {
    margin-top: -40px;
    margin-left: 0%;
    font-weight: 400;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#texto_entrada {
    grid-row-start: 2;
    grid-column-start: 1;
}

#plato_principal {
    background-color: #467B2B;
    grid-column-start: 2;
    opacity: 0.7;
}

#texto_plato_principal {
    grid-row-start: 2;
    grid-column-start: 2;
}

#bebidas {
    background-color: rgb(112, 161, 215);
    grid-column-start: 3;
    opacity: 0.7;
}

#texto_bebidas {
    grid-row-start: 2;
    grid-column-start: 3;
}

#postres {
    background-color: #FF5348;
    grid-column-start: 4;
    opacity: 0.7;
}

#texto_postres {
    grid-row-start: 2;
    grid-column-start: 4;
}

.contenedorHeader {
    background-image: url(../img/aji.jpg);
    background-size: 100%;
    max-width: 100%;
    height: 250px;
    background-repeat: no-repeat;
}

.transparencia {
    position: absolute;
    background-color: rgb(63, 62, 62);
    opacity: 0.4;
    z-index: 1;
    width: 100%;
    height: 250px;
}

.tituloHome {
    padding: 30px;
    position: relative;
    z-index: 1;
    max-width: 100%;
    color: white;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
}

.imagenMenu {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 300px;
}

ul {
    list-style: none;
}

.contenedorVerMiPedido {
    display: flex;
    padding: 0.8em 0 0.8em 0;
    width: 100%;
    background-color: rgba(96, 104, 216, 0.712);
    justify-content: flex-end;
}

button.boton_carrito {
    display: inline-block;
    padding: 0.35em 1.3em;
    border: 0.1em solid #FFFFFF;
    margin: 0.3em 2em 0.3em 0em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

button.boton_carrito:hover {
    color: #000000;
    background-color: #77DD77;
}

.contenedorBoton {
    display: grid;
    padding: 50px;
    grid-template-columns: 60px 100px;
    grid-template-rows: 28px;
    grid-column-gap: 50px;
    width: 100%;
    height: 115px;
    align-content: center;
    background-color: white;
    border: none;
    border-top: solid 1px gainsboro;
    border-bottom: solid gainsboro 1px;
}

.imagenBoton {
    margin: 15px 0px 0px 50px;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
    border-radius: 50%;
    border: solid 2px gainsboro;
}

.productoTxt {
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 400;
    text-align: initial;
    letter-spacing: 1px;
    margin-left: 22px;
}

.descripcionTxt {
    grid-column-start: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(192, 189, 189);
    text-align: initial;
    letter-spacing: 2px;
    margin-left: 22px;
}

.listaProducto {
    display: flex;
    padding: 8px 0px 8px;
    background-color: rgba(216, 216, 216, 0.185);
    width: 100%;
    height: 100px;
    border-bottom: solid 2px gainsboro;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.productoPrecio {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Precio {
    margin-left: 20px;
    color: rgb(11, 105, 11);
}

.botonAgregarAlCarrito {
    align-self: flex-end;
    margin-right: 20px;
    display: inline-block;
    padding: 0.3em 0.2em;
    margin: 0px 0.5em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    color: white;
    background-color: #FFC530;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

p {
    margin-left: 22px;
    margin-top: 5px;
}

.finDelContenedor {
    padding: 1.4em 0 1.4em 0;
    width: 100%;
    background-color: rgba(96, 104, 216, 0.712);
}

.contenedorGrid {
    display: grid;
    padding: 10px;
    max-width: 100%;
    margin: 0px auto;
    /* margin-top: 35px; */
    grid-template-columns: auto;
    background-color: #f9f9f9;
}

.listaUno {
    margin: 10px auto;
    letter-spacing: 4px;
    list-style: none;
    font-size: 1em;
}

.elementoUno {
    display: flex;
    width: 285px;
    justify-content: space-around;
    align-items: center;
    color: green;
    font-variant: all-petite-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.textoFooter {
    margin-left: 0px;
}

.listaDos {
    margin: 20px auto;
    font-size: 2em;
    letter-spacing: 8px;
    list-style: none;
    text-align: end;
    grid-column-start: 2;
    grid-row-start: 1;
}

@media screen and (max-width: 650px) {
    .contenedorVerMiPedido {
        padding: 0.5em 0 0.5em 0;
    }
    .finDelContenedor {
        padding: 1.2em 0 1.2em 0;
    }
    .contenedorGrid {
        width: 90%;
        grid-row-gap: 20px;
    }
    .listaUno {
        font-size: 0.9em;
    }
    .textoFooter {
        margin-left: 5px;
    }
    .listaDos {
        margin: auto;
        grid-row-start: 2;
        grid-column-start: 1;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 360px) {
    .transparencia {
        height: 240px;
    }
    .contenedorVerMiPedido {
        padding: 0.5em 0 0.5em 0;
    }
    .finDelContenedor {
        padding: 1.2em 0 1.2em 0;
    }
    .contenedorGrid {
        margin: auto;
        width: 90%;
        grid-row-gap: 15px;
        justify-content: center;
    }
    .listaUno {
        font-size: 0.6em;
    }
    .textoFooter {
        margin-left: 5px;
    }
    .listaDos {
        margin: auto;
        grid-row-start: 2;
        grid-column-start: 1;
        font-size: 1.5em;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .transparencia {
        height: 213px;
    }
    .contenedor_botones {
        grid-template-columns: 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px;
    }
    .texto {
        margin-top: -10px;
    }
}