* {
	padding: 0px;
	margin: 0px;
}

.menu {
	position: relative;
}

.botonIrIndex {
	position: absolute;
	z-index: 100;
	margin-left: 2.5%;
	top: 436px;
	font-size: 20px;
	align-content: inherit;
	color: white;
}

.contenedor_botones {
	display: grid;
	grid-template-columns: 80px 80px 80px 80px;
	grid-template-rows: 80px 80px 80px 80px;
	width: 100%;
	height: 150px;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 35px;
}

.boton_menu {
	border-radius: 10%;
	border: 1px solid;
	border-color: black;
	padding: 5px;
}

#entrada {
	background-color: #ffc530;
	padding: center;
	grid-column-start: 1;
}

.texto {
	margin-top: -40px;
	margin-left: 0%;
	font-weight: 400;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: 2px;
}

#texto_entrada {
	grid-row-start: 2;
	grid-column-start: 1;
}

#plato_principal {
	background-color: #89e077 /* #467B2B*/;
	padding: center;
	grid-column-start: 2;
	opacity: 0.7;
	box-sizing: border-box;
}

#texto_plato_principal {
	grid-row-start: 2;
	grid-column-start: 2;
}

#bebidas {
	background-color: rgb(112, 161, 215);
	grid-column-start: 3;
	padding: center;
	padding-left: 0.8em;
	opacity: 0.7;
}

#texto_bebidas {
	grid-row-start: 2;
	grid-column-start: 3;
}

#postres {
	background-color: #f62e29 /*#FF5348*/;
	margin-top: 0.1em;
	padding: center;
	padding-left: 0.7em;
	padding-top: 0.77em;
	padding-bottom: 0.7em;
	grid-column-start: 4;
	opacity: 0.7;
}

#texto_postres {
	grid-row-start: 2;
	grid-column-start: 4;
}

.contenedorHeader {
	background-image: url(../img/aji.jpg);
	background-size: 100%;
	max-width: 100%;
	height: 250px;
	background-repeat: no-repeat;
}

.transparencia {
	position: absolute;
	background-color: rgb(63, 62, 62);
	opacity: 0.4;
	z-index: 1;
	width: 100%;
	height: 250px;
}

.tituloHome {
	padding: 30px;
	position: relative;
	z-index: 1;
	max-width: 100%;
	color: white;
	text-align: left;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 2px;
}

.imagenMenu {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 300px;
}

ul {
	list-style: none;
}

.contenedorVerMiPedido {
	display: flex;
	padding: 0.4em 0 0.4em 0;
	width: 100%;
	height: 50px;
	background-color: #717beb /* rgba(96, 104, 216, 0.712)*/;
	justify-content: flex-end;
	align-items: center;
}

button.boton_carrito {
	display: inline-block;
	padding: 0.35em 1.3em;
	border: 0.1em solid #ffffff;
	margin: 0.4em 2em 1.4em 0em;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	color: #000000;
	text-align: center;
	transition: all 0.2s;
	letter-spacing: 1px;
}

button.boton_carrito:hover {
	color: #000000;
	background-color: #77dd77;
}

.contenedorBoton {
	display: grid;
	padding: 50px;
	grid-template-columns: 60px 100px;
	grid-template-rows: 28px;
	grid-column-gap: 50px;
	width: 100%;
	height: 115px;
	align-content: center;
	background-color: white;
	border: none;
	border-top: solid 1px gainsboro;
	border-bottom: solid gainsboro 1px;
}

.imagenBoton {
	margin: 15px 0px 0px 50px;
	width: 100%;
	grid-column-start: 2;
	grid-row-start: 1;
	align-self: center;
	border-radius: 50%;
	border: solid 2px gainsboro;
}

.productoTxt {
	grid-column-start: 1;
	grid-row-start: 1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	color: black;
	font-weight: 400;
	text-align: initial;
	letter-spacing: 1px;
	margin-left: 22px;
}

.descripcionTxt {
	grid-column-start: 1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(192, 189, 189);
	text-align: initial;
	letter-spacing: 2px;
	margin-left: 22px;
}

.listaProducto {
	display: flex;
	padding: 8px 0px 8px;
	background-color: rgba(216, 216, 216, 0.185);
	width: 100%;
	height: 120px;
	border-bottom: solid 2px gainsboro;
	justify-content: space-evenly;
	align-items: baseline;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
}

.productoPrecio {
	display: flex;
	flex-direction: row;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.Precio {
	margin-left: 20px;
	color: rgb(11, 105, 11);
}

.botonAgregarAlCarrito {
	align-self: flex-end;
	margin-right: 20px;
	display: inline-block;
	padding: 0.4em 1em;
	margin: 1em 0.5em 0em 0em;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 0.8em;
	color: white;
	background-color: #ffc530;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.2s;
}

.Plato {
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
}

p {
	margin-left: 22px;
	margin-top: 5px;
	font-style: italic;
	max-width: 35em;
}

.finDelContenedor {
	padding: 1.4em 0 1.4em 0;
	width: 100%;
	background-color: #717beb; /* rgba(96, 104, 216, 0.712);*/
}

.contenedorGrid {
	display: grid;
	/* padding: 10px; */
	width: 100%;
	margin: 0px auto;
	/* margin-top: 35px; */
	grid-template-columns: auto;
	background-color: #f9f9f9;
}

.elementosFooter {
	display: flex;

	justify-content: space-around;
	align-items: center;
}

.contenedorRedes {
	letter-spacing: 10px;

	/*! margin-top: 3px; */
}

a {
	text-decoration: none;
	font-size: 1.4em;
}

#iconoInstagram {
	opacity: 1;
	color: rgb(45, 45, 45);
}
#iconoInstagram:hover {
	opacity: 1;
	color: #f62e29 /*#ffea7f*/;
}

#iconoFacebook {
	opacity: 1;
	color: rgb(45, 45, 45);
	/*! font-size: 1em; */
}

#iconoFacebook:hover {
	opacity: 1;
	color: #efce16 /* #83c3ff*/;
}

#iconoWhatsApp {
	opacity: 1;
	color: rgb(45, 45, 45);
}

#iconoWhatsApp:hover {
	opacity: 1;
	color: #89e077;
}

@media screen and (max-width: 650px) {
	.contenedorVerMiPedido {
		padding: 0.3em 0 0.3em 0;
	}
	.finDelContenedor {
		padding: 1.2em 0 1.2em 0;
	}
	.contenedorGrid {
		width: 90%;
		grid-row-gap: 20px;
	}

	.elementosFooter {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 450px) {
	p {
		max-width: 370px;
	}
}

@media screen and (max-width: 375px) {
	.transparencia {
		height: 250px;
	}

	.contenedor_botones {
		height: 120px;
		margin-top: 0px;
	}

	.boton_menu {
		width: 60px;
		margin-left: 10px;
	}

	.imgBoton {
		width: 40px;
		height: 45px;
	}

	.imgBotonPostres {
		width: 30px;
		height: 35px;
	}

	p {
		max-width: 320px;
	}

	.contenedorVerMiPedido {
		padding: 0.3em 0 0.3em 0;
	}
	.finDelContenedor {
		padding: 1.2em 0 1.2em 0;
	}
	.contenedorGrid {
		margin: auto;
		width: 90%;
		grid-row-gap: 15px;
		justify-content: center;
	}

	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
		text-align: center;
	}
}

@media screen and (max-width: 360px) {
	.transparencia {
		height: 240px;
	}

	.contenedor_botones {
		height: 120px;
		margin-top: 0px;
	}

	.boton_menu {
		width: 60px;
		margin-left: 10px;
	}

	.imgBoton {
		width: 40px;
		height: 45px;
	}

	.imgBotonPostres {
		width: 30px;
		height: 35px;
	}

	p {
		max-width: 320px;
	}

	.textoFooter {
		letter-spacing: 0.8px;
	}

	.contenedorVerMiPedido {
		padding: 0.3em 0 0.3em 0;
	}
	.finDelContenedor {
		padding: 1.2em 0 1.2em 0;
	}
	.contenedorGrid {
		margin: auto;
		width: 90%;
		grid-row-gap: 15px;
		justify-content: center;
	}

	.listaDos {
		margin: auto;
		grid-row-start: 2;
		grid-column-start: 1;
		font-size: 1.5em;
		text-align: center;
	}
}

@media screen and (max-width: 320px) {
	.transparencia {
		height: 213px;
	}
	.contenedor_botones {
		justify-content: space-evenly;
		height: 110px;
		margin-top: -10px;
		grid-template-columns: 60px 60px 60px 60px;
		grid-template-rows: 60px 60px 60px 60px;
	}

	.boton_menu {
		width: 50px;
	}

	#postres {
		width: 50px;
	}

	.imgBoton {
		width: 30px;
		height: 35px;
	}

	.imgBotonPostres {
		width: 20px;
		height: 25px;
	}

	.imagenBoton {
		width: 70px;
		height: 70px;
	}

	p {
		font-size: 0.8em;
		max-width: 230px;
	}

	.logoMexicanoFooter {
		width: 270px;
		height: 100px;
	}
}
