* {
	padding: 0px;
	margin: 0px;
	/* font-family: "Montserrat", sans-serif;
	letter-spacing: 1px; */
}

.contenedorImagen {
	max-width: 100%;
	height: 40px;
	display: flex;
	background-color: #717beb;
	padding-left: 10px;
	align-items: center;
	color: gainsboro;
}
.botonIrMenuPrincipal {
	color: gainsboro;
	margin-right: 10px;
}

.section-header {
	font-weight: 500;
}

table {
	width: 80%;
	margin: 5% auto;

	/* background-color: #18bd4c; */
}

td {
	text-align: center;
	padding: 20px 0px;
	font-family: "Anton", sans-serif;
	border-bottom: gainsboro solid 1px;
}

.headerCarrito {
	font-family: "Bebas Neue", cursive;
	color: #717beb;
	letter-spacing: 2px;
	text-shadow:  white 2px 5px;
	margin: none 4px ;
	font-size: 1.1em;
}

#valor{

	color:#ffc530;
	padding-right: 4px;
}

#opciones{

	color:#ffc530;
}


.tablaPedidos {
	/* border-bottom: gainsboro solid 1px; */
	letter-spacing: 1px;
}

.inputCantidad {
	width: 40px;
	height: 25px;
	border: solid #717beb 1px;
	border-radius: 6px;
	padding: 0.4em;
}

.inputQuitar {
	padding: 0.35em 1.3em;
	border: 0.1em solid #ffffff;
	/* 	margin: 0em 2em; */
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	color: #000000;
	text-align: center;
	transition: all 0.2s;
	letter-spacing: 1px;
}

.inputQuitar:hover {
	background-color: #ffc530;
}

.contedorMesaPrecio {
	display: flex;
	max-width: 80%;
	justify-content: space-between;
	margin: 0px auto;

}

.error-mesa {
	font-family: "Bebas Neue", cursive;
	color: #717beb;
	font-size: 0.8em;
}

.cart-total {
	margin-right: 100px;
}

.cart-total-title {
	margin-right: 10px;
	font-family: "Bebas Neue", cursive;
	color: #717beb;
	letter-spacing: 2px;
	font-size: 1.3em;
}

.number-table {
	width: 50px;
}

.cart-total-price {
	font-family: "Anton", sans-serif;
	letter-spacing: 1px;
}

.btn-danger {
	display: inline-block;
	padding: 0.35em 1.3em;
	border: 0.1em solid #ffffff;
	/* margin: 0.4em 2em 1.4em 0em; */
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	color: #000000;
	text-align: center;
	transition: all 0.2s;
	letter-spacing: 1px;
}

.botonBorrarPedidos {
	background-color: white;
	border: none;
}

.btn-danger:hover {
	color: #000000;
	background-color: #77dd77;
}


.btn-purchase {

	right: 0;
	bottom: 0px;
	width: 30%;
	margin: 75px 130px;
	height: 60px;
	background-color: #1ef361;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 2px;
	font-size: 1em;
	font-weight: 1000;
	border: none;
	color: white;
}

.btn-purchase:hover {
	background-color: #18bd4c;
}

.franjaFooter {
	width: 100%;
	height: 40px;
	background-color: #717beb;
	margin-top: 0px;

}

.contenedorGrid {
	display: flex;
	width: 100%;
	margin: 0px auto;
	background-color: #f9f9f9;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.elementosFooter {
	/*! display: flex; */
	align-items: center;
	padding: 2em;
}

.contenedorRedes {
	letter-spacing: 5px;
	margin-left: 39%;

	/*! margin-top: 3px; */
}

a {
	text-decoration: none;
	font-size: 1em;
	color: grey;
}

#iconoInstagram {
	opacity: 1;
	color: rgb(45, 45, 45);
}
#iconoInstagram:hover {
	opacity: 1;
	color: #f62e29 /*#ffea7f*/;
}

#iconoFacebook {
	opacity: 1;
	color: rgb(45, 45, 45);
	/*! font-size: 1em; */
}

#iconoFacebook:hover {
	opacity: 1;
	color: #efce16 /* #83c3ff*/;
}

#iconoWhatsApp {
	opacity: 1;
	color: rgb(45, 45, 45);
}

#iconoWhatsApp:hover {
	opacity: 1;
	color: #89e077;
}

