.contenedorPedidos {
	width: 100%;
	background-color: rgb(226, 226, 226);
}

.cart-row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: blueviolet;
}

.cart-item {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.cart-header {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.cart-column {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
